@media (max-width: 1024px) {
  h1 {
    font-size: 40px;
    line-height: 46px;
  }
  .home__slider-item img {
    max-width: 500px;
    height: auto;
  }
  .home__slider-item {
    justify-content: center;
  }
  .home {
    padding: 0;
  }
  h4 {
    font-size: 30px;
    line-height: 38px;
  }
  .benefits img {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
    line-height: 18px;
  }
  .btn {
    padding: 12px 20px;
    font-size: 18px;
    line-height: 24px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  .decor-sun-b,
  .decor-sun-t {
    display: none;
  }
  h4 {
    font-size: 20px;
    line-height: 28px;
  }
  .blog img {
    max-width: 400px;
  }
  .shop span {
    font-size: 18px;
    line-height: 24px;
  }
  .footer ul a {
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 426px) {
  .header__menu {
    display: none;
  }
  .home {
    &__slider-item {
      flex-direction: column-reverse;
      img {
        max-width: 100%;
        margin-top: 20px;
      }
    }
  }
  .home__slider button {
    bottom: 240px;
  }
  .home__offer {
    height: 280px;
  }
  .works__inner {
    flex-direction: column;
  }
  .works__item {
    width: 100%;
    margin-bottom: 50px;
    height: 190px;
  }
  .benefits__inner {
    flex-direction: column;
    text-align: center;
  }
  .benefits img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .shop__inner {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    justify-content: center;
    .btn {
      margin: 0 auto;
      width: 100%;
    }
  }
  .blog__item {
    flex-direction: column;
  }
  .footer__info {
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
    h6 {
      margin-top: 50px;
    }
  }
  .process__inner {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog__info {
    width: 100%;
    margin-left: 0;
    text-align: center;
    align-items: center;
  }
  .rev .blog__info {
    margin: 0;
  }
  h3 {
    margin: 20px 0;
  }
  .footer ul li {
    margin-bottom: 10px;
  }
}
