@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 16px 0;
  border-bottom: 1px solid #000;
  &__menu ul {
    display: flex;
    li {
      margin-right: 16px;
    }
  }
  .container {
    display: flex;
    align-items: flex-end;
  }
  &__registr {
    float: right;
    margin-right: 0;
    margin-left: auto;
    a {
      margin-left: 16px;
    }
  }
}
.home {
  background-color: $yellow;
  &__offer {
    max-width: 444px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 612px;
  }
  &__slider {
    &-item {
      position: relative;
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      img {
        max-width: 898px;
        height: 564px;
        border-radius: 20px;
      }
    }
    button {
      position: absolute;
      right: 15px;
      bottom: 50px;
      cursor: pointer;
    }
    .slick-prev {
      right: 75px !important;
      z-index: 999;
    }
    .slick-next {
      transform: rotate(180deg);
    }
  }
}
