@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 16px 0;
  border-bottom: 1px solid #000;
  &__menu ul {
    display: flex;
    li {
      margin-right: 16px;
    }
  }
  .container {
    display: flex;
    align-items: flex-end;
  }
  &__registr {
    float: right;
    margin-right: 0;
    margin-left: auto;
    a {
      margin-left: 16px;
    }
  }
}
.home {
  background-color: $yellow;
  &__offer {
    max-width: 444px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 612px;
  }
  &__slider {
    &-item {
      position: relative;
      display: flex !important;
      justify-content: space-between;
      align-items: center;
      img {
        max-width: 898px;
        height: 564px;
        border-radius: 20px;
      }
    }
    button {
      position: absolute;
      right: 15px;
      bottom: 50px;
      cursor: pointer;
    }
    .slick-prev {
      right: 75px !important;
      z-index: 999;
    }
    .slick-next {
      transform: rotate(180deg);
    }
  }
}
.works {
  text-align: center;
  border-bottom: 1px solid #fff;
  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
  }
  &__item {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 273px;
    img {
      margin: 0 auto;
    }
  }
}
.benefits {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  img {
    border-radius: 20px;
  }
  &__offer {
    padding-left: 50px;
    height: 100%;
    h4 {
      margin-bottom: 50px;
    }
  }
}
.shop {
  table {
    width: 100%;
    margin-top: 25px;
  }
  td {padding-top: 25px;
    text-align: left;
    vertical-align: middle;
    span {
      display: block;
      font-size: 27px;
      line-height: 36px;
      text-transform: uppercase;
    }
    img{
      margin-bottom: 12px;
      border-radius: 20px;
    }
    p{
      margin-bottom: 25px;
    }
  }
}
.rectangle{
  img{
    width: 100%;
  }
}